@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
	--bg-color: #171717;
	--primary-color: #001514;
	--secondary-color: oklch(82.702% 0.11562 116.266);
	--secondary-2-color: #3b5249;
	--accent-color: #3f3538;
	--white-color: #ffffff;
	--black-color: #000000;
	--button-color: oklch(64.29% 0.09017 116.088);
	--paragraph-clr: rgb(214, 214, 214);
	--hairline-clr: oklch(83.591% 0.0001 271.152 / 0.158);

	--Playfair-Display: "Lora", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--Playfair-Display);
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1rem;

	background-color: var(--bg-color);
	background-image: linear-gradient(
			oklch(82.779% 0.11536 115.74 / 0.024) 1px,
			transparent 1px
		),
		linear-gradient(
			90deg,
			oklch(82.779% 0.11536 115.74 / 0.024) 1px,
			transparent 1px
		);
	background-size: 30px 30px; /* fade overlay */
	background-attachment: fixed;
}

a {
	display: block;
	color: var(--white-color);
	text-decoration: none;
}

img,
svg {
	max-width: 100%;
	display: inline-block;
}

.wrapper {
	width: 100%;
}

.container,
header {
	max-width: 64rem;
	margin-inline: auto;
}

button {
	appearance: none;
	border: none;
	background: transparent;
	outline: none;
	color: var(--white-color);
	font-size: 0.875rem;
	font-weight: 600;
	cursor: pointer;
}

/* Header */

.header {
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;

	color: var(--white-color);
	background: rgba(18, 18, 18, 0.75);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-bottom: 1px solid var(--hairline-clr);
}

header {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.25rem;

	.logo-image {
		display: flex;
		place-content: center;
	}

	.logo-text {
		font-size: 1.15rem;
		font-weight: 600;
	}

	.logo-image img {
		width: 2.4rem;
	}
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;

	a {
		padding-inline: 1rem;
		padding-block: 1.225rem;
	}
}

/* Main */

.main {
	padding-block-start: 10rem;
	padding-block-end: 4rem;
}

.hero {
	padding-block-end: 10rem;
}

.hero__heading {
	color: var(--white-color);
	font-size: 4rem;
	line-height: 1;
	text-wrap: balance;

	span {
		color: var(--secondary-color);
	}
}

.hero__subheading {
	color: var(--white-color);
	max-width: 45ch;
	overflow-wrap: anywhere;
	margin-block: 1rem;
}

.hero__ctas {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.hero__cta {
	padding-block: 0.75rem;
	padding-inline: 1.25rem;
	border-radius: 4px;
}

.cta__newsletter {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-weight: 500;
	color: var(--primary-color);
	background-color: var(--secondary-color);

	svg {
		rotate: 90deg;
	}
}

.cta__post {
	background-color: transparent;
	border: 1px solid rgba(231, 231, 231, 0.295);
}

/* Posts */
.blog {
	border-block: 1px solid var(--hairline-clr);
}

.blog__wrapper {
	border-inline: 1px solid var(--hairline-clr);
	background-color: rgba(231, 231, 231, 0.158);
	padding: 0.325rem;
}

.blog__inner {
	background-color: #252525;
}

.tags {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.625rem;
	border-bottom: 1px solid var(--hairline-clr);
}

.tags button {
	padding: 0.5rem 1.125rem;
	border-radius: 4px;
	transition: color ease-in 300ms, background-color ease-in 300ms;

	&.active,
	&:hover {
		background-color: var(--white-color);
		color: var(--primary-color);
	}
}

.posts {
	margin-block-start: 1.6rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
	gap: 2.4rem;
	padding: 0.625rem;
}

.post {
	color: var(--white-color);

	.post__image {
		border-radius: 8px;
	}

	.post__date {
		font-size: 0.675rem;
		font-weight: 600;
		color: var(--paragraph-clr);
	}

	.post__title {
		font-weight: 600;
		font-size: 1rem;
		margin-block: 0.465rem;
	}

	.post__description {
		font-size: 0.875rem;
		color: var(--paragraph-clr);
	}
}
