@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
	--bg-color: #171717;
	--primary-color: #001514;
	--secondary-color: oklch(82.702% 0.11562 116.266);
	--secondary-2-color: #3b5249;
	--accent-color: #3f3538;
	--white-color: #ffffff;
	--black-color: #000000;
	--button-color: oklch(64.29% 0.09017 116.088);
	--paragraph-clr: rgb(214, 214, 214);
	--hairline-clr: oklch(83.591% 0.0001 271.152 / 0.158);

	--Helvetica: "Helvetica Neue", sans-serif;
	--Playfair-Display: "Lora", sans-serif;
	--font-base: 1rem; /* Usually 16px */
	--line-height-body: 1.6;
	--line-height-heading: 1.1;
	--font-weight-bold: 700;
	--spacing-bottom: 1rem;

	--date-time: 0.675rem;
	--button-card-gap: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--Helvetica);
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1rem;

	background-color: var(--bg-color);
	background-image: linear-gradient(
			oklch(82.779% 0.11536 115.74 / 0.024) 1px,
			transparent 1px
		),
		linear-gradient(
			90deg,
			oklch(82.779% 0.11536 115.74 / 0.024) 1px,
			transparent 1px
		);
	background-size: 30px 30px; /* fade overlay */
	background-attachment: fixed;
}

ul {
	list-style: none;
}

/* Global resets for consistency */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-block-end: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--Playfair-Display);
	text-wrap: balance;
	font-weight: var(--font-weight-bold);
}

h1 {
	line-height: var(--line-height-heading);
}

h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4;
}

@media (width < 720px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: pretty;
	}
}

p {
	line-height: var(--line-height-body);
	/* Scales between 16px and 18px */
	font-size: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
	max-width: 45ch;
}

/* Headings scale fluidly from Mobile size -> Desktop size */

h1 {
	/* Scales between ~2.5rem and ~4.2rem */
	font-size: clamp(2.488rem, 2rem + 2.5vw, 4.209rem);
}

h2 {
	/* Scales between ~2rem and ~3.15rem */
	font-size: clamp(2rem, 1.7rem + 1.8vw, 3.157rem);
}

h3 {
	/* Scales between ~1.7rem and ~2.3rem */
	font-size: clamp(1.728rem, 1.5rem + 1.2vw, 2.369rem);
}

h4 {
	font-size: clamp(1.44rem, 1.35rem + 0.6vw, 1.777rem);
}

h5 {
	font-size: clamp(1.2rem, 1.15rem + 0.3vw, 1.333rem);
}

h6 {
	font-size: 1rem; /* Usually stays static or uppercase */
}

a {
	display: block;
	color: var(--white-color);
	text-decoration: none;
}

img,
svg {
	max-width: 100%;
	display: inline-block;
}

.wrapper {
	width: 100%;
	position: relative;
}

.container,
header {
	max-width: 64rem;
	margin-inline: auto;
}

button {
	appearance: none;
	border: none;
	background: transparent;
	outline: none;
	color: var(--white-color);
	font-size: 0.875rem;
	font-weight: 600;
	cursor: pointer;
}

.backdrop {
	background-color: rgba(18, 18, 18, 0.75);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

/* Header */

.header {
	font-family: var(--Playfair-Display);
	width: 100%;
	color: var(--white-color);
	border-bottom: 1px solid var(--hairline-clr);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

header {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#hamburger {
	display: none;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.25rem;

	.logo-image {
		display: flex;
		place-content: center;
	}

	.logo-text {
		font-size: 1.15rem;
		font-weight: 600;
	}

	.logo-image img {
		width: 2.4rem;
	}
}

nav {
	background: none;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;

	a {
		padding-inline: 1rem;
		padding-block: 1.225rem;
		font-weight: 500;
		transition: color ease-in 250ms;
	}

	a.active,
	a:hover {
		color: var(--secondary-color);
	}
}

@media (width < 720px) {
	nav {
		position: fixed;
		top: calc(4rem + 1px);
		right: -100%;

		isolation: isolate;
		width: 88%;
		min-height: 100dvh;
		min-height: 100vh;

		background-color: rgba(18, 18, 18, 0.92);
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
		border-left: 1px solid var(--hairline-clr);
		z-index: 60;
		transition: right cubic-bezier(0.86, 0, 0.14, 1) 250ms;

		&.open-menu {
			right: 0;
		}
	}

	nav ul {
		flex-direction: column;
		align-items: flex-start;
		text-transform: uppercase;
	}

	header {
		padding-inline: 1rem;
		height: 4rem;
	}

	#hamburger {
		display: block;
	}
}

/* Main */

.main {
	padding-block-start: 10rem;
}

.hero {
	padding-block-end: 10rem;
}

.hero__heading {
	color: var(--white-color);

	span {
		color: var(--secondary-color);
	}
}

.hero__subheading {
	color: var(--white-color);
	overflow-wrap: anywhere;
	margin-block: 1.25rem 2rem;
	text-wrap: pretty;
}

.hero__ctas {
	display: flex;
	align-items: center;
	gap: 0.875rem;
}

.hero__cta {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.2rem;
	padding-inline: 2rem;
	border-radius: 4px;
	line-height: normal;
}

.cta__newsletter {
	gap: 0.25rem;
	font-weight: 500;
	color: var(--primary-color);
	background-color: var(--secondary-color);

	svg {
		rotate: 90deg;
		width: 1.25rem;
	}
}

.cta__post {
	background-color: transparent;
	border: 1px solid rgba(231, 231, 231, 0.295);
}

@media (width < 1024px) {
	.hero {
		padding-inline: 1rem;
	}
}

@media (width < 540px) {
	.hero__ctas {
		flex-direction: column;
		align-items: flex-start;
	}

	.hero__cta {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/* Values */

.value__wrapper {
	padding-block-end: 10rem;
	color: var(--white-color);
}

.value__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
	gap: var(--button-card-gap);
	margin-block-start: 1.5rem;
}

.value__item {
	padding: 2rem;
	border: 1px solid var(--hairline-clr);
	border-radius: 4px;
}

.value__item-top {
	display: flex;
	align-items: center;
	gap: 0.875rem;
	margin-bottom: 1rem;

	svg {
		color: var(--secondary-color);
		width: 1.25rem;
	}

	h6 {
		margin-bottom: 0;
	}
}

.value__item-description {
	font-size: 0.875rem;
	max-width: 65ch;
}

@media (width < 1024px) {
	.value__wrapper {
		padding-inline: 1rem;
	}

	.value__item {
		padding: 1rem;

		h6 {
			font-size: 0.875rem;
		}
	}
}

/* Posts */
.blog {
	border-block: 1px solid var(--hairline-clr);
}

.blog__wrapper {
	border-inline: 1px solid var(--hairline-clr);
	background-color: rgba(231, 231, 231, 0.158);
	padding: 0.325rem;
}

.blog__inner {
	background-color: #252525;
}

.tags {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 1.5rem;
	border-bottom: 1px solid var(--hairline-clr);
}

.tags button {
	text-wrap: nowrap;
	padding: 0.5rem 1.125rem;
	border-radius: 4px;
	transition: color ease-in 300ms, background-color ease-in 300ms;

	&.active,
	&:hover {
		background-color: var(--white-color);
		color: var(--primary-color);
	}
}

@media (width < 1024px) {
	.blog {
		padding-inline: 1rem;
	}

	.tags {
		overflow-x: scroll;
	}

	.tags {
		scrollbar-width: none;
	}

	::-webkit-scrollbar {
		width: none;
	}
}

/* Posts */

.posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
	gap: var(--button-card-gap);
	padding: 1.5rem;
}

.post {
	color: var(--white-color);

	border: 1px solid var(--hairline-clr);
	padding: 0.5rem;
	border-radius: 4px;
	background-color: var(--primary-color);
	background-color: rgba(83, 83, 83, 0.158);

	.post__image {
		border-radius: 2px;
	}

	.post__date {
		font-size: var(--date-time);
		font-weight: 600;
		color: var(--paragraph-clr);
	}

	.post__title {
		font-weight: 600;
		font-size: 1rem;
		margin-block: 0.465rem;
	}

	.post__description {
		font-size: 0.875rem;
		color: var(--paragraph-clr);
	}
}

@media (width < 720px) {
	.tags,
	.posts {
		padding: 0.5rem;
	}
}

/* More */
.more__wrapper {
	padding-block: 8rem;
}

.more__title {
	color: var(--white-color);
	margin-block-end: 1.5rem;
}

.more__posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(480px, 100%), 1fr));
}

.more__post {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--white-color);
	padding-block: 1.625rem;
	border-bottom: 1px solid var(--hairline-clr);

	img {
		width: 10rem;
		border-radius: 4px;
	}

	&:nth-child(1),
	&:nth-child(2) {
		border-top: 1px solid var(--hairline-clr);
	}

	.more__content-top,
	.more__description {
		font-size: var(--date-time);
		font-weight: 500;
	}

	.more__content-top {
		display: flex;
		align-items: center;
		gap: 0.625rem;
	}

	.more__title {
		margin-block: 0.625rem;
	}

	.dot {
		display: inline-block;
		width: 4px;
		height: 4px;
		background-color: rgba(231, 231, 231, 0.295);
		border-radius: 50px;
	}
}

@media (width < 1024px) {
	.more__wrapper {
		padding-inline: 1rem;
	}
}

@media (width < 540px) {
	.more__post {
		align-items: flex-start;
		flex-direction: column;
		padding-block: 1.265rem;
		padding-inline: 0;

		img {
			width: 100%;
		}
	}
}

/* Footer */

footer {
	border-top: 1px solid var(--hairline-clr);
	padding-block: 1rem;
}

.footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-size: 0.865rem;
	color: oklch(86.995% 0.0001 271.152);
}

.footer__content {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.footer__ctas {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.footer__cta {
	color: oklch(86.995% 0.0001 271.152);
}

.footer__cta:hover {
	color: var(--white-color);
	text-decoration: underline;
}

@media (width < 1024px) {
	.footer__wrapper {
		padding-inline: 1rem;
	}
}

@media (width < 580px) {
	.footer__wrapper {
		flex-direction: column;
		gap: 0.5rem;
	}
}
